{% extends "header.html" %}

{% block title %}
    <title>О сайте</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="margin-bottom: 1em; margin-top: 1em;">О сайте</h1>
        <p>Данный сайт был разработан в качестве дипломной работы студентом 4 курса МТКП им. Баумана Кирюшиным Максимом.</p>
        <p>Для разработки дизайна сайта использовался фреймворк <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
    </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}