{% extends "header.html" %}

{% block title %}
    <title>Электро-Л №3</title>
{% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <h1 style="margin-bottom: 1em; margin-top: 1em;">Добро пожаловать на сайт спутника Электро-Л №3</h1>
        <div class="card" style="width: 15rem; float: left; margin-right: 1em;">
            <img src="{% static "img/earth.jpg" %}" alt="Изображение Земли" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Пример снимка с аппапата</h5>
                <p class="card-text text-right" style="font-size: 0.8em; font-style: italic;">Изображение было отредактировано</p>
            </div>
        </div>
        <article class="article" style="">
            <p>Основной задачей спутников серии Электро-Л является сбор данных о погоде, анализ изменений климата в региональных и глобальных масштабах, контроль чрезвычайных ситуаций.</p>
            <p>Данный сайт позволяет в реальном времени отслеживать процедуры, производящиеся на спутнике, а так же просматривать снимки с КА.</p>
        </article>
    </div>
{% endblock %}

{% block page_scripts %}
{% endblock %}