{% extends "satellite_production/multiple_tables.html" %}
{% block search_form %}
{% load production_templates %}
<div class="filter-form">
    <form action="" method="get">
        <div class="form-group">
            <label for="bdate">Дата начала выборки</label>
            <input name="bdate" class="form-control" id="bdate" type="date" value="{{ request.GET.bdate }}">
        </div>
        <div class="form-group">
            <label for="edate">Дата окончания выборки</label>
            <input name="edate" class="form-control" id="edate" type="date" value="{{ request.GET.edate }}">
        </div>
        {% for checkbox in checkboxes %}
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="chk{{ checkbox }}" name="checkbox-tables" value="{{ checkbox }}">
            <label class="form-check-label" for="chk{{ checkbox }}">{{ checkbox }}</label>
        </div>
        {% endfor %}
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Подтвердить</button>
            <small id="date-help" class="form-text text-muted">По умолчанию запрос осуществляется по всем видам съёмки за последнюю неделю.</small>
        </div>
    </form>
</div>

{% endblock %}
