{% extends "header.html" %}
{% block title %}
    <title>Общая статистика работы спутника за {{ beg_date }} - {{ end_date }}</title>
{% endblock %}
{% block content %}
    {% load production_templates %}
    <div class="container-fluid">
        <div class="row flex-fl-nowrap">
            <div class="col col-md-3 col-lg-2 sticky-top align-self-start" style="top: 4rem;">
                {% block search_form %}
                {% endblock %}
            </div>
            <div class="col col-md-9 col-lg-10">
                {% if not request_empty %}
                    <table id="satellite-single-table" class="tablesorter">
                        <thead>
                        <tr class="table-header">
                            {% for field in field_names %}
                                <th>{{ field }}</th>
                            {% endfor %}
                            <th class="nosort">Тип операции</th>
                            <th class="nosort" id="images-header">Снимки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tname,table in all_tables %}
                            {% for row in table %}
                                <tr class="table-row">
                                {# Общие поля #}
                                    {% for field in row %}
                                        <td>{{ field }}</td>
                                    {% endfor %}

                                {# Название операции #}
                                    {% for title in table_names.keys %}
                                        {% ifequal tname title %}
                                            <td>
                                                {{ tname }}
                                            </td>
                                        {% endifequal %}
                                    {% endfor %}

                                    {% tabledisp_to_std row.2 as std_time %}
                                    {#  Ссылка на соответствующую съёмку #}
                                    <td>
                                        <a class="image-link" href="{% url 'images:image_view' %}?sdate={{ std_time.0 }}&session={{ std_time.1 }}">link</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if all_tables.has_previous %}
                                <a href="?{% url_replace request 'page' 1 %}">&laquo; первая</a>
                                <a href="?{% url_replace request 'page' all_tables.previous_page_number %}">предыдущая</a>
                            {% endif %}

                            <span class="current">
                                Страница {{ all_tables.number }} из {{ all_tables.paginator.num_pages }}.
                            </span>

                            {% if all_tables.has_next %}
                                <a href="?{% url_replace request 'page' all_tables.next_page_number %}">следующая</a>
                                <a href="?{% url_replace request 'page' all_tables.paginator.num_pages %}">последняя &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                {% else %} {# line 13 #}
                    <h2>По запросу за <b>{{ beg_date }}</b> - <b>{{ end_date }}</b> ничего не найдено.</h2>
                    <em>Попробуйте изменить дату выборки или тип съёмки в запросе.</em>
                {% endif %} {# line 13 #}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/tablesorter.css" %}">
    <script src="{% static 'scripts/jquery.tablesorter.min.js' %}"></script>
    <script>
        // Большинство современных браузеров уже поддерживают input type date, для остальных включается datepicker из jQuery
        if ( $('[type="date"]').prop('type') !== 'date' ) {
            $('[type="date"]').datepicker();
        }

        {# если таблица существует, отсортировать её #}
        {% if not request_empty %}
            // Парсер для даты
            $.tablesorter.addParser({
                id: "customDate",
                is: (s) => {
                    // Формат даты и времени, напр. 01.12.2014  12:03
                    return /[0-9]{2}\.[0-9]{2}\.[0-9]{4} {2}[0-9]{2}:[0-9]{2}/.test(s);
                },
                format: (s) => {
                    s = s.replace(/ {2}/, " ");
                    s = s.replace(/\./g, " ");
                    s = s.replace(/:/, " ");
                    s = s.split(" ");

                    return $.tablesorter.formatFloat(new Date(s[2], s[1]-1, s[0], s[3], s[4]).getTime());
                },
                type: 'numeric',

            });

            let myHeaders = {};

            $('table.tablesorter').each(function (i, e) {
                $(this).find('th.nosort').each(function (i, e) {
                    myHeaders[$(this).index()] = { sorter: false };
                });

            });

            $("#satellite-single-table").tablesorter({
                // Сортировка по первой колонке по умолчанию
                sortList: [[1,0]],
                headers: myHeaders,
            });

        {% endif %} {# line 65 #}

    </script>
{% endblock %}