/* tables */
table.tablesorter {
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
	border: 1px solid #aaa;
    border-collapse: collapse;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #E6EEEE;
	font-size: 12pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background: url(bg.gif) no-repeat center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	border: 1px solid #aaa;
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
