{% extends "header.html" %}
{% block title %}
    <title>Снимки с КА за {{ date }}</title>
    <style>
    .carousel-item:not(.active)+.carousel-caption {
        display: none;
    }
    </style>
{% endblock %}
{% block content %}
    {% load static %}
    {% load common_tags %}
    <div class="container-fluid">
        {% if not nothing_to_show %}
        <div class="row justify-content-center">
            <h3>Архив снимков с КА Электро №3</h3>
        </div>
        <div class="row justify-content-center">
            <div id="image-carousel" class="carousel slide" data-ride="carousel" date-interval="9999" style="width: 500px; height: 500px;">
                <ol class="carousel-indicators">
                    {% for i in range_list %}
                        <li data-target="#image-carousel" data-slide-to="{{ i }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% with is_first=True %}
                        {% for image in image_list %}
                            {% get_date_from_path image as caption_dict %}
                                <div class="carousel-item{% if is_first %} active{% update_variable False as is_first %}{% endif %}"  >
                                    <img class="d-block w-100" src="{% static image %}" style="width: 100%; height: 100%;">
                                </div>
                                {% if caption_dict %}
                                <div class="carousel-caption">
                                    {% get_dict_value caption_dict "number" as num %}
                                    {% if num %}
                                        <h3>Снимок из серии {{ num }}</h3>
                                    {% endif %}

                                    {% get_dict_value caption_dict "year" as y %}
                                    {% if y %}
                                        <p>{{ y }} год
                                    {% endif %}

                                    {% get_dict_value caption_dict "month" as m %}
                                    {% if m %}, {{ m }}
                                    {% endif %}

                                    {% get_dict_value caption_dict "day" as d %}
                                    {% if d %}, {{ d }} день.
                                    {% endif %}
                                </p>
                                </div>
                                {% endif %}
                        {% endfor %}
                    {% endwith %}
                    <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
            <div class="row justify-content-center">
                <h3>Не найдено ни одного снимка за эту сессию.</h3>
            </div>
            <div class="row justify-content-center">
                <p>Попробуйте выбрать другую.</p>
            </div>
    {% endif %}
        <div class="image-filter-form">
            <form action="" method="get">
                <div class="form-group">
                    <label for="sdate">День совершения съёмки</label>
                    <input name="sdate" value="{{ input_date }}" class="form-control" id="sdate" type="date">
                </div>
                <div class="form-group">
                    <label for="session">Номер съёмки</label>
                    <select id="session">
                        {% for sess in session_list %}
                            <option value="{{ sess }}">{{ sess }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Подтвердить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script>
        // Большинство современных браузеров уже поддерживают input type date, для остальных включается datepicker из jQuery
        if ( $('[type="date"]').prop('type') != 'date' ) {
            $('[type="date"]').datepicker();
        }
    </script>
{% endblock %}